@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
.product-id {
    font-family: Poppins;
    display: flex;
    justify-content: center;
    color: #dab894;
}