@import url('https://fonts.googleapis.com/css2?family=Gaegu:wght@700&display=swap');

.purchase-title{
    font-family: Gaegu;
    display: flex;
    justify-content: center;
}

.numbers {
    font-family: Gaegu;
}

.header-row {
    border-radius: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
}
.purchaseId {
    font-family: Gaegu;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    justify-items: center;
    align-items: center;
}